.collapse-button {
  background: whitesmoke;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.collapse-button:hover,
.collapse-button:active {
  background-color: #e6e6e6;
  cursor: pointer;
}

.collapse-button h3 {
  display: inline;
}

.collapse-button i {
  float: right;
  font-size: 1.5rem;
}

.collapsed {
  display: none;
}

.expanded {
  display: block;
  margin-bottom: 1rem;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.25rem 0.8rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
}

.scroll-to-top:hover,
.scroll-to-top:active {
  background-color: rgba(0, 0, 0, 0.25);
}

blockquote {
  box-sizing: border-box;
  flex-basis: auto;
  background: white;
  border-left: 0.75rem solid #d20c0b;
  padding: 1rem;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.5em;
}

@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 1.5rem;
    width: 50%;
  }
}

blockquote::before {
  color: #d20c0b;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote em {
  display: inline;
}

blockquote strong {
  color: #d20c0b;
}

.slideshow-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.slideshow-button {
  cursor: pointer;
  border: none;
  color: #d20c0b;
  font-size: 3rem;
}

.slideshow-button:hover,
.slideshow-button:active {
  color: #e65958;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 0.7rem;
  right: 0.7rem;
  padding: 0.25rem 0.8rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
}

.scroll-to-top:hover,
.scroll-to-top:active {
  background-color: rgba(0, 0, 0, 0.25);
}

footer {
  position: static;
}
